<div>
<img class="beer-photo"src="/images/beer.png" alt="Picture of a beer">
</div>

<a class="button1" href="/beers"> <Button>Check beers!</Button></a>

<a class="button2" href="/random-beer"> <Button>Check a Random Beer!</Button></a>